*{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
input,button{
    border: none;
    background: none;
    margin: none;
    padding: none;
}
textarea{
    resize: none;
}






/* Верхний блок */
.NotesMenu{
    display: flex;
    border: 1px solid rgb(128, 73, 73);
    border-bottom: none;
    height: 80px;
    align-items: center;
    
}
.addNote{
    width: 25%;
    height: 45%;

}
.addNote_button{
    width: 100%;
    height: 100%;
}

.DeleteNote{
    width: 25%;
    height: 45%;
    border-left: 1px solid rgb(128, 73, 73);
}
.DeleteNote_button{
    width: 100%;
    height: 100%;
}
.FindNote{
    height: 45%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(128, 73, 73);
}
.FindNote_input{
    padding: 10px;
    
    width: 90%;
    height: 90%;
    
}




/* Правый блок */
.NoteForm{
    display: flex;
    align-items: flex-start;
    border: 1px solid rgb(128, 73, 73);
    
    height: 82vh;
    
}
.NotesList{
    width: 25%;
    max-width: 50%;
    min-width: 25%;
    height: 100%;
    overflow: auto;
    resize: horizontal;
    
}
.NoteEditForm{
    width: 75%;
    height: 100%;
    border-left: 1px solid rgb(214, 155, 155);
}
.NoteEditForm_found{
    height: 100%;
    
}
.NoteItem{
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 73, 73);
    
}
.NoteItem:hover{
    background-color: rgb(230, 185, 185);
}
.NoteItem_name{
    height: 35px;
    border-bottom: 1px solid rgb(128, 73, 73);
    padding-bottom: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
}
.NoteItem_description{
    height: 65px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.NoteEditForm_inputName{
    
    width: 90%;
    
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;

    font-weight: 800;
}

.NoteEditForm_inputDescription{
    width: 90%;
    height: 77%;

    margin-top: 10px;
    margin-left: 20px;
    
    padding: 10px;
    
    border: none;
}
.NoteEditForm_notFound{
    margin-top: 10px;

    font-weight: 800;
    text-align: center;
}





.active{
    background-color: rgb(250, 212, 212);
}


