*{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
input,button{
    border: none;
    background: none;
    margin: none;
    padding: none;
}
textarea{
    resize: none;
}






/* Верхний блок */
.NotesMenu{
    display: flex;
    border: 1px solid rgb(128, 73, 73);
    border-bottom: none;
    height: 80px;
    align-items: center;
    
}
.addNote{
    width: 25%;
    height: 45%;

}
.Note_button{
    width: 100%;
    height: 100%;
}
.Note_button:hover{
    font-weight: 600;
}

.DeleteNote{
    width: 25%;
    height: 45%;
    border-left: 1px solid rgb(128, 73, 73);
}
.Note_button{
    width: 100%;
    height: 100%;
}
.FindNote{
    height: 45%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(128, 73, 73);
}
.FindNote_input{
    padding: 10px;
    
    width: 90%;
    height: 90%;
    
}




/* Нижний блок */
.NoteForm{
    display: flex;
    align-items: flex-start;
    border: 1px solid rgb(128, 73, 73);
    
    height: 82vh;
    
}
.NotesList{
    width: 25%;
    max-width: 50%;
    min-width: 25%;
    height: 100%;
    overflow: auto;
    resize: horizontal;
    border-right: 1px solid rgb(128, 73, 73);
    
}
.NoteItem{
    
    padding: 10px;
    border-bottom: 2px solid rgb(128, 73, 73);
    
}
.NoteItem:hover{
    background-color: white;
}
.NoteItem_name{
    height: 40px;
    border-bottom: 1px solid rgb(128, 73, 73);
    padding-bottom: 5px;
    padding-left: 10px;

    /* Обрезает наименование заметки */
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}
.NoteItem_description{
    height: 50px;
    border-bottom: 1px solid #000;
    padding-left: 10px;

    /* Обрезает описание заметки */
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    
    color: rgb(109, 80, 80);
    font-size: 22px;
}
.NotFound{
    text-align: center;
    padding-top: 20px;
}
.NoteEditForm{
    width: 75%;
    height: 100%;
}
.NoteEditForm_found{
    height: 100%;
    
}
.NoteEditForm_head{
    display: flex;
}
.NoteEditForm_inputName{
    
    width: 65%;
    
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;

    font-weight: 800;
}
.NoteEditForm_select{
    height: 50px;
    width: 25%;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px;

    border: 1px solid rgb(214, 155, 155);
    border-radius: 7px 7px;

}
.NoteEditForm_inputDescription{
    width: 92%;
    height: 77%;

    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    
    border: none;
}
.NoteEditForm_notFound{
    margin-top: 10px;

    font-weight: 800;
    text-align: center;
}





.active{
    border: 1px solid rgb(85, 69, 69);
}

.pending{
    background: rgb(255, 200, 200);
}
.inProcess{
    background: rgb(204, 196, 255);
}
.resolved{
    background: rgb(209, 255, 195);
}

