.App{
    display: flex;
}

.NotesListForm{
    border: 1px solid #000;
    border-right: none;
    width: 20%;
    height: 90vh;
}
.NoteForm{
    border: 1px solid #000;
    width: 80%;
    height: 90vh;
}

/* Меню */
.Menu{
    display: flex;
}
.NewNote{
    height: 50px;
    border-bottom: 1px solid #000;
}
.NewNote_button{
    width: 100%;
    height: 100%;
    border: none;
    
}
.DeleteNote{
    height: 50px;
    border-bottom: 1px solid #000;
}
